{
  "presets": [
    ["react-app"],
    ["env", {
      "useBuiltIns": "entry",
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-class-properties"],
    ["mobx-deep-action"],
    ["jsx-if-directive"]
  ]
}