

.posts {
  max-width: 1260px;
  min-height: 450px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  color: #000;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  //.post-card:nth-child(3n + 2) {
  //  margin-left: 40px;
  //  margin-right: 40px;
  //}
}
