
.post-container {
  text-align: center;
  padding-top: 70px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto 60px;
  .title {
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: 2px;
    overflow: hidden;
    text-align: center;
    font-weight: normal;
  }
  .tags {
    text-align: center;
    margin-top: 16px;
    padding: 16px;
    display: inline-block;
    border-top: 1px solid black;
    span {
      margin: 0 10px;
    }
  }
  #content {
    text-align: left;
    p {
      margin: 20px auto;
      font-size: 16px;
      line-height: 2;
      text-align: justify;
      word-wrap: break-word;
    }
    h2, h3, h4, h5, h6 {
      text-align: left;
      font-weight: normal;
      border-bottom: none;
    }
    h2 {
      font-size: 28px;
      margin: 40px auto 20px;
    }
    pre {
      font-size: 14px;
      margin: 40px auto 20px;
    }
    ul {
      li {
        margin: 10px 0;
      }
    }
  }
  .info {
    color: #777;
    font-family: Gotham-Medium;
    font-size: 14px;
    margin: 60px 0;
    font-weight: bold;
  }
}
