
@import "../../style/variable";


.hideNav {
  color: black !important;
  fill: black !important;
  border-color: black !important;
}

.nav-button {
  fill: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  cursor: pointer;
  transition: all ease-in 300ms;
  width: $nav-btn-size;
  height: $nav-btn-size;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 12;

  &.pointed {
    border: 1px solid white;
    transform: scale(1.1);
    circle {
      opacity: 0.2;
    }
  }
  &.showNav {
    transform: rotate(3 * 45deg);
  }
  &.showNav.pointed {
    transform: scale(1.2) rotate(45deg);
  }

  circle {
    position: absolute;
    transition: all ease-out 300ms;
  }

  rect {
    transition: all ease-out 300ms;
  }
}

.nav-button-text {
  position: absolute;
  right: 110px;
  top: 42px;
  font-size: 28px;
  color: white;
  font-weight: bolder;
  font-style: italic;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.4em;
  z-index: 12;
  transition: all ease-in-out 200ms;

  & > span {
    display: inline-block;
    transition: all ease-in-out 300ms;
    transform: translateX(-30px) translateY(-30px);
    opacity: 0;
    &.pointed {
      opacity: 1;
      transform: translateX(0);
    }

    &:nth-child(1) {
      transition-delay: 0ms;
    }
    &:nth-child(2) {
      transition-delay: 40ms;
    }
    &:nth-child(3) {
      transition-delay: 80ms;
    }
    &:nth-child(4) {
      transition-delay: 120ms;
    }
    &:nth-child(5) {
      transition-delay: 160ms;
    }
  }
}