
.editor {
  background-color: white;
  &.mini {
    height: calc(100% - 365px);
  }
  &.max {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .mde-preview-content {
    img {
      max-width: 100%;
    }
  }
}
